[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
matplotlib = "*"
tensorboard = "*"
git-python = "*"
tensorboardx = "*"
meshcat = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
